<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="footer container-fluid">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://github.com/yurypcf/"><img src="/images/icons/github.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://twitter.com/aloyury"><img src="/images/icons/twitter.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/in/yury-cavalcante/"><img src="/images/icons/linkedin.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png"></img></a>
            </li>
        </ul>
        <p class="footerText subP">Feel free to contact me anytime! Even just for chatting.<br>yurypcfarias@gmail.com</p>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md" >
                    <a href="/software">Software</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/music">Music</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/hobbies" style="text-align: center">Hobbies</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
