<!DOCTYPE HTML>
<html>
    <head>
        {{> includes}}
    </head>
    <body>
        {{> nav}}
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <div class="back">
          <div class="cenMain">
            <div class="center cenX">
              <h1 class="titleMain">CONTACT</h1>
              <h3 class="regTitle padB40">yurypcfarias@gmail.com</h3>
            </div>
          </div>
        </div>

        {{> footer}}
    </body>
</html>