<!DOCTYPE HTML>
<html>
    <head>
        {{> includes}}
    </head>
    <body>
        {{> nav}}
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <div class="back">
          <div class="cenMain">
            <div class="center cenX">
              <h3 class="regTitle padB40">Soon I'll be linking here with a Rails blog posting about things I watch, play and discover.
              </h3>
            </div>
          </div>
        </div>

        {{> footer}}
    </body>
</html>