<!DOCTYPE HTML>
<html>
    <head>
        {{> includes}}
    </head>
    <body>
        {{> nav}}
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <div class="back">
          <div class="cenMain">
            <div class="center cenX">
              <h3 class="regTitle padB40">I enjoy playing guitar instruments (Bass, Acoustic and Electric), I'm planning creating a media channel to post cover songs and link it here.</h3>
            </div>
          </div>
        </div>

        {{> footer}}
    </body>
</html>