<!DOCTYPE HTML>
<html>
    <head>
        {{> includes}}
    </head>
    <body>
        {{> nav}}
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <div class="row rowBackSS"></div>
                <h3 class="subTitle" id="here">Ruby | Rust | NodeJS | SQL and No-SQL | Deployment</h3>
            </div>

            <div class="homeSouth">
                <h4><a class="stealthLink subTitle pad0" href="#technical-skills">VIEW MORE</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>

        <div class="container-fluid sec" id="technical-skills">
            <div class="container">
                <h3 class="subTitle">TECHNICAL SKILLS</h3>
                <h3 class="subTitle">Ruby</h3>
                <p class="subP">The programming language that really got me into loving programming.<br/><br/>
                    Ruby is my go to if I'm prototyping or starting to learn a new software concept.
                    The language flexibility provides such comfort and confidence to create any type of software.
                    You can bring scripts, softwares as a services, websites to live coding real fast,
                    prove your concept idea, and then find room improve with other Ruby tools or another languages.</p>
            </div>

            <div class="container">
                <h3 class="subTitle">NodeJS</h3>
                <p class="subP">Javascript in general was the first programming language I've got contacted with.
                     It was my first job as programmer and got me understanding the basics of web concepts,
                     such as HTTP, CORS, Database connections, etc. I currently find NodeJS/Javascript very good
                     for building simple websites (such as this portifolio), and also setting up other scripting
                     for projects.</p>
            </div>

            <div class="container">
                <h3 class="subTitle">Rust</h3>
                <p class="subP">Low-level programming language excites me because you become very close to the hardware
                     and can exploit significant performance improvements. I am very interested in that kind of programming
                     because you can really see benchmarking working compared to other languages. And once you
                     see your algorithms working as your architecture design intended, it's very satisfying. </p>
            </div>

            <div class="container">
                <h3 class="subTitle">SQL and No-SQL Databases</h3>
                <p class="subP">My first job got me into MongoDB database, and later I've fell in love with
                  PostgreSQL and it's enormous variety of tools, extensions to optimize queries and database
                  processes at all. Became very familiar building queries to optimize Ruby software performance
                  and explaining queries to get the best of it. Also got a little experience on the fly with Redis
                  memory cached tools to optimize large scale data.
                </p>
            </div>

            <div class="container">
                <h3 class="subTitle">Deployment</h3>
                <p class="subP">I have a comfort zone under Docker tools, I'm currently studying MORE
                  infrastructure management tools like Kubernetes, Terraform, etc to reach my Full Cycle developer goal.
                  I enjoy being able to handle myself with the software I've created and providing tools to automation
                  so others can enjoy my creations free from burocratic configuration.</p>
            </div>
        </div>

        <div class="container-fluid btnLinks extPad">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 bot">
                        <div class="leftCenter">
                            <h3 class="sub2">FOUND A BUG?</h3>
                            <p class="subText">Let me know</p>
                            <a class="btn btn-success btn-lg w100" href="https://github.com/yurypcf/" role="button">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>
